{% set title = 'Success' %}
{%  extends "./layout/layout.html.twig" %}

{% block css %}{% endblock %}

{%  block content %}

    <div class="text-center fs-1 text-bg-success mt-5 rounded-3">Thank you! Your email has been sent successfully.</div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-outline-dark">Return</a>
    </div>


{% endblock %}


{% block js %}{% endblock %}