{% set title = 'Welcome' %}
{%  extends "./layout/layout.html.twig" %}

{% block css %}{% endblock %}

{%  block content %}

    <div class="text-center fs-1 text-bg-warning mt-5 rounded-3">Welcome</div>
    <div class="text-center mt-4">
        <a href="/contact" class="btn btn-outline-dark">Go to contact form</a>
    </div>


{% endblock %}


{% block js %}
{% endblock %}